.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background: #F4F4F4;
  width: auto;
  margin: 22px 44px;
  border-radius: 4px;
}
.dashboard-item{
  box-shadow: 1px 1px 9px 1px #0e0d001c;
  border-radius:2px;
  margin:12px;
  padding: 16px;
  background: #fdfcfc;
  h4{
    font-weight: bolder;
  }
}
#user-infos-container{
  grid-row: 1 / span 2;
  grid-column: 6 / span 2;
  h5 {
    text-align: center;
    font-weight: bolder;
  }
  p{
    font-size: 16px;
  }
}
#user-library-container{
  grid-row: 1 / span 2;
  grid-column: 1 / span 5;
}
.user-library-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#user-rentals-container{
  grid-row: 3 / span 2;
  grid-column: 1 / span 5;
}
.user-rentals-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#user-message-container{
  grid-row: 3 / span 4;
  grid-column: 6 / span 2;
  h5 {
    text-align: center;
    font-weight: bolder;
  }
  p{
    font-size: 16px;
  }
}
#user-pending-container{
  grid-row: 5 / span 2;
  grid-column: 1 / span 5;
}
.user-pending-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

