// Specific CSS for your home-page

.homeland{
  text-align: center;
  background-color: #2231ff;
  padding: 10px;
  color: white;
  text-shadow: none;
  h1 {
    margin-top:0px;
    margin-bottom: 0px;
  }
}
.banner{
  text-align: center;
  background-color:#020A57;
}
.steps{
  display: flex;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  justify-content: center;
  background: #2231ff;
}

.step {
  text-align: center;
  margin: 50px;
  color: white;
  text-shadow: none;
  background-color: #020a579c;
  padding: 10px;
  width: 300px;
}

.video {
  display: flex;
  justify-content: center;
  background-color: #2231ff;
  height: 420px;
}

#myVideo {
  width: 90%;
  height: 600px;
  margin-top: 60px;
  margin-bottom: 60px;
}
