<h2>Benvenue @user.first_name</h2>

<%= link_to 'Ajouter un album', new_album_path %>

<h3>Mes BD</h3>
<ul>
  <% @user.albums each do |album| %>
    <li><%= album.comic.title %></li>
  <% end %>
</ul>


<h3>Mes locations en cours</h3>
  <% @user.rentals.album each do |album| %>
    <li><%= album.comic.title %></li>
  <% end %>
