  <div class="card-result-api-books">
   <h5><strong>Recherche en cours</strong></h5>
   <div id="comic-title-result" ></div>
   <div id="comic-author-result"></div>
   <div id="comic-isbn-result"></div>
   <div id="comic-artwork-result"></div>
  </div>
