<div class='container form-container'>
  <h2>Ajouter une nouvelle référence de BD</h2>
  <%= render 'form', comic: @comic %>
</div>
<div class='container form-container'>
  <%= link_to "Revenir", new_album_path %>
</div>
