

<div class="homeland">

<h1>Bienvenue sur AirBD</h1>
<h4>La première bibliothèque partagée en ligne de Bandes Dessinées</h4>
<p>AirBD vous permet de partager le plasir de lire des BD avec vos amis. Prêtez et empruntez vos BD préférées près de chez vous.</p>

<%= link_to 'Voir les BD disponibles', albums_path, class: 'btn btn-rose' %>

</div>


<div class="video">
  <video autoplay muted loop id="myVideo">
    <source src="assets/comic.mp4" type="video/mp4">
  </video>
</div>


<div class="steps banner">

    <div class="step">
      <p>1</p>
      <p>Je me connecte et j'ajoute mes Bandes Dessinées sur AirBD</p>
    </div>

    <div class="step">
      <p>2</p>
      <p>Je recherche sur la carte interactive les BD près de moi</p>
    </div>

    <div class="step">
       <p>3</p>
      <p>Je prête et j'emprunte des BD en toute facilité</p>
    </div>

</div>





