<div class="form-flex-column-center">
    <div>
      <p>Vous ne trouvez pas votre BD dans la liste ?</p>
    </div>
    <%= link_to new_comic_path do %>
      <button type="button" class="btn btn-outline-primary btn-form-new-reference">Ajouter une référence</button>
    <% end %>
</div>
