<div>
  <p>Vous ne trouvez pas votre BD dans la liste ?</p>
  <%= link_to new_comic_path do %>
    <button type="button" class="btn btn-outline-primary">Créer une nouvelle référence</button>
  <% end %>
</div>
