<h1>Tous les albums !</h1>

<ul>
  <% @albums.each do |album| %>
  <% if album.available == true %>
    <li>
      Titre : <%= album.comic.title %> <br>
      Localisation : <%= album.user.address %>
      <%= link_to 'Détails', album_path(album) %>
    </li>
    <% end %>
  <% end %>
</ul>
