<h1>Tous les albums !</h1>

<ul>
  <% albums_sorted = @albums.sort_by { |album| album.comic.title.downcase } %>
  <% albums_sorted.each do |album| %>
  <li>
    Titre : <%= album.comic.title %> <br>
    Statut : <%= album.available %> <br>
    Localisation : <%= album.user.address %>
    <%= link_to 'Détails', album_path(album) %>
  </li>
  <% end %>
</ul>
