.btn-rose {
  background-color: #EA335E;
  border-radius: 10px;
  color: #FFFFFF;
}

.index-contact-btn {
}


.btn-contact-proprio {
  width: 130px;
  color: #1D0056;
  background-color: inherit;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #1D0056;
  padding: 4px 15px;
  border-radius: 5px;
  opacity: 0.8;
}

.btn-contact-proprio:hover {
  opacity: 1;
}

.btn-contact-proprio span {
  font-size: 0.8em;
  font-weight: lighter;
}

.album-rental-status {
  font-size: 1.4em;
}
#btn-add-album{
  display:flex;
  color: #020A57;
  align-items: center;
  margin-top: 20px;
  i {
    padding-right: 5px;
    color: $green;
  }
  a {
    text-decoration: none;
    color:black;
    font-size: 16px;
  }
  p {
    margin: 0px;
  }
}
#user-infos-edit {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display:flex;
  color: #020A57;
  align-items: center;
  margin-top: 20px;
  i {
    padding-right: 5px;
    color: $green;
    position: relative;
    bottom: 73px;
    left: 240px;
  }
  p {
    margin: 0px;
  }
}
