.btn-rose {
  background-color: #EA335E;
  border-radius: 10px;
  color: #FFFFFF;
}

.btn-detail-album-index {
  width: 120px;
  color: white;
  background-color: inherit;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid white;
  padding: 2px 5px;
  border-radius: 5px;
  opacity: 1;
  margin-top: 5px;
}

.btn-detail-album-index:hover {
  color: white;
  background-color: #inherit;
}

.btn-detail-album-index span {
  font-size: 0.8em;
  font-weight: normal;
}

.btn-dashboard {
  width: 150px;
  color: #1D0056;
  background-color: inherit;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #1D0056;
  padding: 4px 15px;
  border-radius: 5px;
  margin-top: 15px;
  opacity: 1;
}

.btn-dashboard:hover {
  color: white;
  background-color: #1D0056;
}

.btn-dashboard span {
  font-size: 0.8em;
  font-weight: normal;
}

.btn-modify-dashboard {
  width: 80px;
  color: #1D0056;
  background-color: inherit;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #1D0056;
  padding: 4px 15px;
  border-radius: 5px;
  margin-top: 15px;
  opacity: 1;
}

.btn-modify-dashboard:hover {
  color: white;
  background-color: #1D0056;
}

.btn-modify-dashboard span {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: -4px;
}

.album-rental-status {
  padding-left: 10px;
  font-size: 1.4em;
  color: #23BE96;
}

#user-infos-edit {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display:flex;
  color: #020A57;
  align-items: center;
  margin-top: 20px;
  i {
    padding-right: 5px;
    color: $green;
    position: relative;
    bottom: 73px;
    left: 240px;
  }
  p {
    margin: 0px;
  }
}

.btn-form-new-reference {
  width: 210px;
  color: white;
  background-color: #1D0056;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #1D0056;
  border-radius: 5px;
  margin-bottom: 25px;
  opacity: 0.8;
}

.btn-form-new-reference:hover {
  opacity: 1;
  color: white;
}

.form-actions {
  text-align: center;
  margin: auto;
}

.btn-form-create {
  width: 210px;
  color: #1D0056;
  background-color: inherit;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #1D0056;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 1;
}

.btn-form-create:hover {
  color: white;
  background-color: #1D0056;
}

.btn-dashboard {
  width: 150px;
  color: #1D0056;
  background-color: inherit;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #1D0056;
  padding: 4px 15px;
  border-radius: 5px;
  margin-top: 15px;
  opacity: 1;
}

.returned-btn {
  padding: 0px;
  box-sizing: content-box;
  display: block;
  text-decoration: none;
  background-color: inherit;
  border-radius: 2px;
  border: 1px solid $green;
  position: relative;
  top: 150px;
  a {
    color: $green;
    text-decoration: none;
    font-size: 12px;
    text-shadow: none;
  }
}
.returned-btn:hover {
  background: $green;
  a{
    color: white;
  }
}



// .btn-back {
//   width: 110px;
//   background-color: inherit;
//   border-radius: 2px;
//   text-decoration: none;
//   text-align: center;
//   border: 1px solid #1D0056;
//   border-radius: 5px;
//   margin-top: 50px;
//   opacity: 0.9;
//   & i {
//     font-size: 0.9em;
//     color: #1D0056;
//     text-decoration: none;
//   }
// }
// .btn-back:hover {
//   opacity: 1;
// }
