.user-pending-display .user-album-card{
  position:relative;
}

.card-container {
  height: 250px;
  width: 200px;
  margin-right: -20px;
}

.index-album-card-body {
  height: 200px;
  width: 160px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 4px;
  box-shadow: 4px 4px 1px rgb(200, 200, 200);
  > a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
  }
}
.card-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-225deg, #061f56 30%, #031335 80%);
  opacity: 0;
  transition: opacity 0.4s ease;
}
.index-album-card-body:hover .card-hover {
  opacity: 0.9;
}
.index-album-card-description {
  // opacity: 0;
  text-align: justify;
  margin-right: 5px;
  margin-left: 5px;

  & h5 {
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  & p {
    font-size: 0.7em;
  }
}


.user-album-card {
  height: 150px;
  width: 110px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  position: relative;
  margin: 10px 10px;
}
.user-album-card-description {
  position: absolute;
  text-align: center;
  margin-right: 3px;
  margin-left: 3px;
  color: white;
}
.user-album-card:hover .card-hover {
  opacity: 0.9;
}

.user-album-card-description {
  & h5 {
    font-size: 0.7em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  & h2 {
    font-size: 24px;
  }
  & p {
    font-size: 12px;
    opacity: 0.7;
    color: black;
    text-shadow: none;
  }
}

.border-available {
  border-left: 7px solid #23BE96;
}

.border-unavailable {
  border-left: 7px solid #E30017;
}

.user-album-card-link a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.user-album-card-link:hover{
  opacity: 0.1;
}

.card-result-api-books {
  background-color: white;
  display: none;
  border: 1px solid #CBCBCB;
  padding-top: 5px;
  padding-left: 15px;
  & img {
    padding-left: 40px;
    padding-bottom: 10px;
  }
}
