// .cards-container {
//   display: flex;
// }
#cancel-request-btn{
  position: absolute;
  bottom: -32px;
  button {
    width: 110px;
  }
}
.user-pending-display .user-album-card{
  position:relative;
}
