// .cards-container {
//   display: flex;
// }
#cancel-request-btn{
  position: absolute;
  bottom: -32px;
  width: 110px;
  a {
    text-decoration: none;
    text-shadow: none;
    color: white;
  }
}
.user-pending-display .user-album-card{
  position:relative;
}
