.main-container {
  display: flex;
}

.col{
  margin: 5px;
}
.albums-index-container {
  margin-top: 15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: flex-start;
  text-align: center;
  & h3 {
    padding-bottom: 15px;
  }
}

.text-align-center {
  text-align: center;
}
