.fancy {
  margin-bottom: 30px;
}

.main-container {
  display: flex;
}

.container {
  & h3 {
    padding-bottom: 25px;
  }
}

.col{
  margin: 5px;
}
.albums-index-container {
  margin-top: 15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  width: 60vw;
  margin-left: 20px;
}

.text-align-center {
  text-align: center;
}
