.form-new h3 {
  padding-bottom: 15px;
  text-align: center;
}

.form-update h3 {
  padding-bottom: 15px;
  text-align: center;
}

.form-flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(min-width: 1400px) {
  .form-container {
    width: 1150px;
  }
}

@media(min-width: 1200px) {
  .form-container {
    width: 950px;
  }
}
@media(max-width: 1050px) {
  .form-container {
    width: 750px;
  }
}
@media(max-width: 768px) {
  .form-container {
    width: 550px;
  }
}
@media(max-width: 400px) {
  .form-container {
    width: 300px;
  }
}
