.modal {
  color: black;
  text-shadow: none;
}
.modal-dialog {
  margin: 80px auto;
}
.form-control::-webkit-input-placeholder {
  color: black;
}
.form-control::-webkit-input-placeholder:focus {
  color:red;
}
#message-text {
  height: 180px;
  font-style: italic;
  padding-top: 15px;
}
.modal-footer {
  .cancel-button{
    background: inherit;
    color: $red;
    font-weight: bolder;
    border: 1px solid $red;
    border-radius: 5px;
  }
  .send-button {
    background: inherit;
    color: $green;
    font-weight: bolder;
    border: 1px solid $green;
    border-radius: 5px;
  }
}
