.modal {
  color: black;
  text-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: black;
}
.form-control::-webkit-input-placeholder:focus {
  color:red;
}
#message-text {
  height: 120px;
}
.modal-footer {
  .cancel-button{
    background: $red;
    color: white;
    font-weight: bolder;
  }
  .send-button {
    background: $green;
    font-weight: bolder;
  }
}
